<%= @search %>
<%= @address %>

<div id="results_page">

	<div id="results">
		results go here
		<!-- this location getting method may or may not work. it doesn't work with local hosting
		the webpage because it relies on the ip address. It might work one it is running on
		production mode. -->
	

	</div>

	<div id="map">
		map goes here
		<div id="map-canvas"></div>
	</div>
</div>